.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 7;
}

.content {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 30rem;
}

.inputBlock__input {
    margin-bottom: 1rem;
}

@media (max-width: 1249px) {}

@media (max-width: 1049px) {
    div.content {
        width: 20rem;
    }
}

@media (max-width: 500px) {
    div.content {
        width: 15rem;
    }
}