.wrapper {
    width: 100%;
    background-color: #192233;
    color: #fff;
}

.container {
    max-width: 90.5625rem;
    margin: 0 auto;
    width: 100%;
}

.mainContent {
    display: flex;
    min-height: calc(100vh - 80px);
}

.navigationContent {
    width: 20%;
}

.outletContent {
    background-color: #212C42;
    border-radius: 50px 50px 0 0;
    padding: 15px 108px 15px 108px;
    width: 80%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem;
    height: 5rem;
}

.burger {
    width: 25px;
    height: 14px;
    cursor: pointer;
    display: none;

    .burder__lines {
        display: block;
        background-color: #fff;
        width: 100%;
        height: 3px;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0 !important;
        }

        &:first-child {
            transform: rotate(180deg);
        }
    }
}

@media (min-width: 1920px) {
    div.container {
        max-width: 1600px !important;
    }
}

@media (max-width: 1749px) {
    div.container {
        max-width: 1200px !important;
    }

    div.outletContent {
        width: 75% !important;
    }

    div.navigationContent {
        flex-basis: 25% !important;
    }
}

@media (max-width: 1249px) {
    .mainContent {
        padding: 0 1rem;
    }
}

@media (max-width: 1049px) {
    div.burger {
        display: block;
    }
}