.burger {
    width: 25px;
    height: 14px;
    cursor: pointer;
    display: none;

    .burder__lines {
        display: block;
        background-color: #fff;
        width: 100%;
        height: 3px;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

@media (max-width: 1049px) {
    div.burger {
        display: block;
    }

    div.menu {
        display: none;
    }
}