.link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding-left: 1.875rem;
    margin-bottom: 2.3125rem;

    .link__text {
        color: #8B97AE;
    }
}

.link__icon {
    margin-right: 1.421875rem;
}

.activeLink {
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: .3125rem;
        height: 1.875rem;
        background-color: #6781F7;
    }

    .link__text {
        color: #fff;
    }
}