.link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 2.3125rem;
    position: relative;

    .link__text {
        color: #8B97AE;
    }

    .link__icon {
        margin-right: 1.421875rem;

        img {
            width: 28px;
            height: 24px;
        }
    }
}

.highlight {
    position: absolute;
    width: .3125rem;
    height: .1rem;
    background-color: #6781F7;
    border-radius: 8px;
    top: 10px;
    left: -1.875rem;
    opacity: 0;
}

.activeLink .highlight {
    height: 2.875rem;
    top: -10px;
    opacity: 1;
    transition: .5s;
}

.activeLink {
    position: relative;
    cursor: pointer;

    .link__text {
        color: #fff;
    }
}