.structure {
    .structure__title {
        font-weight: 700;
        font-size: 2.5rem;
        color: #fff;
    }
}

.cardList {
    margin-top: 119px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 35px;
}