.input {
    background-color: #fff;
    border-radius: 12px;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border: none;
    outline: none;
    width: 20rem;
    transition: .25s;
    border: 1px solid #192233;
    opacity: .5;

    &:hover {
        box-shadow: inset 0 0 3px #192233;
        opacity: 1;
    }
}